    
#signUpSection
    input#signUpUsernameInput(type="text", name="username" placeholder="Username")
    input#signUpUserLevelInput(type="number", name="userLevel" placeholder="1-3")
    input#signUpPasswordInput(type="password", name="password" placeholder="Password")
    button#signUpUserButton(type="submit") Sign Up
