html(lang="en")
    head
        meta(charset="UTF-8")
        title Document
        script(src="./js/redirectToSignUp.js" defer) 
    body

#logInSection
    input#loginUsernameInput(type="text" placeholder="USERNAME")
    input#loginPasswordInput(type="password" placeholder="PASSWORD")
    button#loginButton LOG IN

button#signUpPageButton CREATE A NEW USER